<div role="main" class="hero">
  <div class="container">
    <div class="row row1" style="margin-bottom: 20px">
	  <div class="span12 col1">
	   <div class="module-content box">
             <div class="hint"><div class="banner-hint"></div>
				<img class="centerimg" src="uploads/images/polygons_banner.jpg" >
			 </div>

		<div class="row">
		  <div class="span2 col1"></div>
		  <div class="span8 col1" style="margin-top: 20px; padding: 30px 0 0 0">
		    <a href="about" title="{% trans %}What is the Arctic Permafrost Geospatial Centre?{% endtrans %}">
			<img class="centerimg centerlogo" alt="Arctic Permafrost Geospatial Centre" src="base/images/logo_complete_apgc.png">
			</a>
		  </div>
	  <div class="span2 col1"></div>
		</div>
	     
		<div class="row rowsearch">
		  <div class="span2 col1"></div>
		  <div class="span8 col1" style="margin-bottom: 20px">
				
		   {% block search %}
			{% snippet 'home/snippets/search.html' %}
 
			<div class="row wrapper front">
		   	{% snippet "spatial/snippets/spatial_query.html", default_extent="[[60, -100], [80, 100]]" %}
        			<form class="section site-search simple-input" action="/dataset" method="get">
        			</form>	
			</div>
		   {% endblock %}

			<div class="cats">
			  <div class="cats-item">
				<a href="category/biogeochemistry" title="{% trans %}View Biogeochemistry Datasets{% endtrans %}" class="cat-view">					  
			    <img src="/uploads/images/category_icons/biogeochemistry-02.png" alt="category-biogeochemistry" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Biogeo-chemistry{% endtrans %}</h4>
			    </a>				
			  </div>
			  <div class="cats-item">
				<a href="category/ground-deformation" title="{% trans %}View Ground Deformation Datasets{% endtrans %}" class="cat-view">					  
			    <img src="/uploads/images/category_icons/ground_deformation-02.png" alt="category-ground-deformation" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Ground Deformation{% endtrans %}</h4>
			    </a>	
			  </div>
			  <div class="cats-item">
				<a href="category/ground-ice" title="{% trans %}View Ground Ice Datasets{% endtrans %}" class="cat-view">					  
			    <img src="/uploads/images/category_icons/ground_ice-02.png" alt="category-ground-ice" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Ground Ice{% endtrans %}</h4>
			    </a>
			  </div>
			  <div class="cats-item">
				<a href="category/hydrology" title="{% trans %}View Hydrology Datasets{% endtrans %}" class="cat-view">					  
			    <img src="/uploads/images/category_icons/hydrology-02.png" alt="category-hydrology" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Hydrology{% endtrans %}</h4>
			    </a>
			  </div>
			  <div class="cats-item">
				<a href="category/landcover" title="{% trans %}View Land Cover Datasets{% endtrans %}" class="cat-view">					  
			    <img src="/uploads/images/category_icons/land_cover-02.png" alt="category-land-cover" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Land Cover{% endtrans %}</h4>
			    </a>
				</div>
			  <div class="cats-item">
				<a href="category/landscape-dynamics" title="{% trans %}View Landscape Dynamics Datasets{% endtrans %}" class="cat-view">			  
			    <img src="/uploads/images/category_icons/landscape_dynamics-02.png" alt="category-landscape-dynamics" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Landscape Dynamics{% endtrans %}</h4>
			    </a>
			  </div>
			  <div class="cats-item">
				<a href="category/periglacial-inventories" title="{% trans %}View Periglacial Inventories Datasets{% endtrans %}" class="cat-view">					  
			    <img src="/uploads/images/category_icons/periglacial_inventories-02.png" alt="category-biogeochemistry" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Periglacial Inventories{% endtrans %}</h4>
			    </a>
			  </div>
			  <div class="cats-item">
				<a href="category/properties-extent" title="{% trans %}View Permafrost Properties & Extent Datasets{% endtrans %}" class="cat-view">					  
			    <img src="/uploads/images/category_icons/properties_extend-02.png" alt="category-properties-extent" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Properties & Extent{% endtrans %}</h4>
			    </a>
			  </div>
			  <div class="cats-item">
				<a href="category/socio-economic" title="{% trans %}View Socio-Economic Datasets{% endtrans %}" class="cat-view">					  
			    <img src="/uploads/images/category_icons/socio_economic.png" alt="category-socio-economic" class="media-image cats-image">
				<h4 class="media-heading cats-heading">{% trans %}Socio-Economic{% endtrans %}</h4>
			    </a>
			  </div>			  
			</div>
			
		  </div>
		  <div class="span2 col1"></div>
		</div>
	   </div>
	  </div>
	 </div>

      <div class="row row1">
          <div class="span12 col1">
            <div class="poggleBox">
			 <div class="row">
			  <div class="span2 col1"></div>
			  <div class="span8 col1">
               <h1 class="intro">{% trans %}The Arctic Permafrost Geospatial Centre (APGC) offers you detailed metadata descriptions and visualizations, as well as the direct access link to Open Access Geospatial Data on permafrost.{% endtrans %}</h1>
               <h2 class="intro" style="font-size: 1.3em;">{% trans %}This catalog is citable by{% endtrans %} <a style="color:#F39200;" href="https://doi.org/10.25504/FAIRsharing.hrM7RP">FAIRsharing DOI.</a></h2>

              </div>
			  <div class="span2 col1"></div>
			 </div>
			</div>
          </div>

      

      <div class="span6 col1">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>

	  <div class="span6 col2">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>

    </div>
  </div>
</div>
