<img class="transparent" alt="/uploads/images/logo_complete_apgc.png" src="/uploads/images/logo_complete_apgc.png" style="width: 266px; height: 126px;"></img>
<h2>{% trans %}The Arctic Permafrost Geospatial Centre (APGC){% endtrans %}</h2>

<!-- 
<p>is currently being designed as a web interface showcasing high level projects producing geospatial datasets with permafrost focus and will provide an entry point for their geospatial product dissemination needs.</p>

<p>At the core of the APGC we are establishing two services for data discovery: an Open Access Data Catalogue and an Open Access WebGIS Application. The APGC Data Catalogue will allow searching for project-specific geospatial data by tags, keywords, data type and format, licence type, or geographically, provides a data preview figure, localizes the dataset on a zoom- and pan-capable basemap, displays a variety of metadata, and links to a permanent DOI-based archival link at the PANGAEA data repository. The APGC Data Catalogue will be based on the open source CKAN data catalogue architecture, allowing geospatial data categorization associated with defined projects based on metadata standards. The Data Catalogue will contain all final products of projects that will be featured here, for example the ERC PETA-CARB project and the IPA Action Group on Yedoma ice-rich permafrost. 
The WebGIS Application will rely on OGC-standardized Web Mapping Services (WMS) and Web Feature Service (WFS) technologies for data display and visualization. The WMS/WFS services are provided through the Data Catalogue. We are further evaluating the possibility to load external WMS/WFS services in the WebGIS Application. Legends will provide information on data attributes, and pop-up menus will provide information on metadata and a link to the archive location for a dataset. The WebGIS Application will provide a platform independent and visually interactive platform for displaying both raster and vector geospatial data from the project. 
</p>
-->

<p>{% trans %}APGC is an Open Access Circum-Arctic Geospatial Data Portal that promotes, describes and visualizes geospatial permafrost data. A data catalogue and a WebGIS application allow to easily discover and view data and metadata. Data can be downloaded directly via link to the publishing data repository.{% endtrans %}</p>
<div style="border-bottom: 1px dotted #dddddd;"></div>
<h3>{% trans %}Mission{% endtrans %}</h3>
 <ul>
  <li>{% trans %}APGC provides open access to high-quality scientific data related to permafrost in the Arctic.{% endtrans %}</li>
  <li>{% trans %}APGC facilitates discovery, view, dissemination, and archival of permafrost geospatial information.{% endtrans %}</li>
  <li>{% trans %}APGC supports metadata documentation and exchange.{% endtrans %}</li>
</ul> 
<br><h3>{% trans %}Data Criteria{% endtrans %}</h3>
<p>{% trans %}New submissions to the catalogue are evaluated for publication using the following criteria.{% endtrans %}</p>
<p>{% trans %}<b>PERMAFROST FOCUS:</b> Data directly or indirectly measures and/or classifies permafrost characteristics in the Arctic, Antarctica, or mountain permafrost areas, for example soil temperatures, ground ice content, land cover, topography and many more.{% endtrans %}</p>
<p>{% trans %}<b>HIGH SIGNIFICANCE AND IMPACT:</b> The data addresses an important problem or critical barrier to progress in the field of permafrost research. It provides, for example, circum-arctic coverage, is important to many different disciplines, and shows new or improved measurements.{% endtrans %}</p>
<p>{% trans %}<b>OPEN ACCESS:</b> Metadata and data are accessible and published in a repository.{% endtrans %}</p>
<p>{% trans %}<b>HIGH QUALITY:</b> Data is validated. Metadata reports an accuracy assessment.{% endtrans %}</p>
<p>{% trans %}<b>METADATA:</b> Metadata adequately describes the processing of the data and the data is reproducible with the given metadata.{% endtrans %}</p>

<br><h3>{% trans %}Funding and Support{% endtrans %}</h3>
<p>{% trans %}APGC is maintained by the <a href="https://www.awi.de/en/science/geosciences/permafrost-research.html">Permafrost Research section</a> of the Alfred Wegener Institute (AWI), Helmholtz Centre for Polar and Marine Research. The WebGIS application has been developed by the <a href="https://www.awi.de/en/about-us/service/computing-centre.html">AWI Computing and Data Center</a>. The APGC has been initiated by the ERC project <a href="https://www.awi.de/en/science/junior-groups/peta-carb.html">Rapid Permafrost Thaw in a Warming Arctic and Impacts on the Soil Organic Carbon Pool (PETA-CARB)</a>, and the European Space Agency (ESA) project <a href="https://www.globpermafrost.info">GlobPermafrost</a>.{% endtrans %}</p>
<br><h3>{% trans %}Contact{% endtrans %}</h3>
<p><b>{% trans %}Alfred Wegener Institute{% endtrans %}</b></p>
<p><b>{% trans %}Helmholtz Centre for Polar and Marine Sciences{% endtrans %}</b></p>
<p>{% trans %}Telegrafenberg A45 | 14473 Potsdam{% endtrans %}</p>
<br>
<p><b>{% trans %}Director:{% endtrans %}</b> Prof. Dr. Guido Grosse</p>
<p>{% trans %}Mail:{% endtrans %} guido.grosse[at]awi.de</p>
<p>{% trans %}Phone:{% endtrans %} +49 (0)331 288 2100</p>
<br>
<p><b>{% trans %}System Administrator:{% endtrans %}</b> Sebastian Laboor</p>
<p>{% trans %}Mail:{% endtrans %} apgc[at]awi.de</p>
<p>{% trans %}Phone:{% endtrans %} +49 (0)331 288 20104</p>
