{% set intro = g.site_intro_text %}

<div class="module-content box" style="padding-bottom: 39px;">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h2 class="page-heading" style="line-height: 1;">{% trans %}Featured Dataset:{% endtrans %} <a href="dataset/pan-arctic-vis-landscape-change-2003-2022">Pan-Arctic Visualization of Landscape Change (2003-2022), Arctic PASSION Permafrost Service </a> </h2>
      <div class="notes embedded-content">
       <p>{% trans %}This raster dataset, in Cloud Optimized GeoTIFF format (COG), provides information on land surface changes at the pan-arctic scale. Multispectral Landsat-5 TM, Landsat-7 ETM+, and Landsat-8 OLI imagery (cloud-cover less than 80%, months July and August) was used for detecting disturbance trends (associated with abrupt permafrost degradation) between 2003 and 2022. For each satellite image we calculated the Tasseled Cap multi-spectral index to translate the spectral reflectance signal to the semantic information Brightness, Greenness, and Wetness. In order to characterize change information, we calculated the linear trend of the Brightness, Greenness and Wetness over two decades on the individual pixel level. The final map product therefore contains information on the direction and magnitude of change for all three Tasseled Cap parameters in 30m spatial resolution across the pan-arctic permafrost domain.{% endtrans %}</p>
      </div>    
    {% endif %}
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-phone">
      {% block home_image_content %}
        <p><a class="media-image" href="dataset/pan-arctic-vis-landscape-change-2003-2022">
            <img src="/dataset/01f6c42e-fec3-447e-b671-f14d378b2a7b/resource/3b93250e-086e-42b7-a172-5275be7e16fa/download/tcvis-example.jpg" alt="dataset image" style="padding-right: 10px; width:50%; height:auto; float:left; min-width: 50%;" />
           </a>{% trans %}Changes in the Tasseled Cap indices Brightness, Greenness, and Wetness are displayed in the image bands red, green, and blue, respectively. The data can be explored via the <a href="https://alex.awi.de/">Arctic Landscape EXplorer (ALEX)</a> and is available as a <a href="https://maps.awi.de/services/common/permafrost/wms?request=GetCapabilities&service=WMS">public web map service (WMS)</a>, both hosted by AWI.{% endtrans %}
        </p>

      {% endblock %}
    </section>
  {% endblock %}
</div>
