{#
Display a grid of group items of collection groups.

groups - A list of groups.

Example:

    {% snippet "group/snippets/collection_list.html" %}

#}
{% block group_list %}

<ul class="media-grid collection-grid" data-module="media-grid">
 {% block group_list_inner %}
{#
    {% set indexed = [0] %}
    {% for group in groups if "collection" in group.name %}
      {% snippet "group/snippets/collection_item.html", group=group, position=loop.index %}
      {% if indexed.append(indexed.pop() + 1) %}{% endif %} 
    {% endfor %}
    {% if indexed[0] == 0 %}
          <p class="empty">{{ _('No dataset collections found for your search.') }}</p> 
          <p class="empty">{{ _('Use the "Projects" or "Categories" tab to see if projects or categories were found with your search term or try another search.') }}</p> 

    {% endif %}
#}
  {% for group in groups %}
    {% snippet "group/snippets/collection_item.html", group=group, position=loop.index %} 
  {% endfor %}

 {% endblock %}
</ul>

{% endblock %}