<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Groups?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
       <p>Groups at APGC are thematic <b>categories</b> and <b>collections</b> of datasets or represent different <b>projects</b> and networks, that produce, collect and/or distribute data.</p>
       <p>Click on a group to see more information about the category, project or collection and all its datasets.</p>    
      {% endtrans %}
    </p>
  </div>
</div>
